<div class="courses-panel">
  <h3>All Courses</h3>

  <mat-tab-group>
    <mat-tab label="Beginners">
      <!-- using async the view subscribes automatically to the observables hence forth
           providing the required result,here in this case it gives beginner courses array
           which is values emitted by beginnerCourses$ observable .
           so everything is reactive, no manual subscriptions. 
           Apart from this, the async pipe handles the unsubscriptions of beginnerCourses$
           by itself whenever the component is destroyed. Beneficial.-->
      <courses-card-list
        [courses]="beginnerCourses$ | async"
        (coursesChanged)="reloadCourses()"
      ></courses-card-list>
    </mat-tab>

    <!-- using async the view subscribes automatically to the observables hence forth
           providing the required result,here in this case it gives advanced courses array
           which is values emitted by advancedCourses$ observable.
           so everything is reactive, no manual subscriptions.
           Apart from this, the async pipe handles the unsubscriptions of beginnerCourses$
           by itself whenever the component is destroyed. Beneficial. -->
    <mat-tab label="Advanced">
      <courses-card-list
        [courses]="advancedCourses$ | async"
        (coursesChanged)="reloadCourses()"
      ></courses-card-list>
    </mat-tab>
  </mat-tab-group>
  <!-- <div *ngFor="let course of beginnerCourses$ | async"></div> -->
</div>
